@font-face {
    font-family: "Comic Neue Regular";
    src: local("Comic Neue"),
        url("../fonts/ComicNeue-Regular.ttf") format("truetype");
}

.brandContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2em;


}

.brand {
    font-family: "Comic Neue Regular";
    text-decoration: none;
    font-size: 3vw;
}

.nav {
    background: rgb(190, 201, 190);
    /* background: linear-gradient(90deg, rgba(238, 193, 57, 0.938813025210084) 35%, rgba(152, 255, 152, 1) 50%); */
    /* Cambia el color de fondo  */
    color: #fff;
    /* Cambia el color del texto*/
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el navbar esté sobre otros elementos */
    /* -moz-box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.50); */
    /* -webkit-box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.50); */
    /* box-shadow: 0px 7px 5px -4px rgba(0, 0, 0, 0.50); */
}

.activo {
    border-bottom: 4px solid rgba(152, 255, 152, 1);
}

.nav ul {
    width: 70%;
    list-style: none;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav li {
    margin: 0 20px;
}

/* .nav-item:hover{ */
/* color:rgb(255, 255, 255); */


/* } */
.nav a {
    text-decoration: none;
    color: #f0f0f0fa;
    /* Cambia el color del texto según tus preferencias */
}

.nav a:hover {
    color: #fff
}

/* Estilos del contenido de la página */

/* Estilos adicionales según tus preferencias */


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

.toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.5rem;
    background: white;
    transition: 0.4s ease-in;
}

.toggler {
    margin-top: 15px;
    margin-right: 60px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:768px) {

    .toggler {
        display: block;
        float: right;
    }

    .nav-menu {
        position: fixed;
        top: 50px;
        right: 0;
        width: 50%;
        height: 100%;
        background: rgba(152, 255, 152, 1);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 3;

    }
}

/*activar clase*/
.nav-active {
    transform: translateX(0);
}

/*animaicon*/

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}